body{

}


table{

    height: 50%;
    width: 10%;



}

th{
    text-align: center;
}
tr{
    text-align: center;
    padding: 1px;

}

#login{

    position: absolute;
    top: 0px;
    width: 30%;
    padding: 18px 6% 60px 6%;
    margin-top: 100px;
    margin-left: 400px;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow:
            0pt 2px 5px rgba(105, 108, 109,  0.7),
            0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
;
}

h1{
    font-size: 28px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;



}
p.button input{
    width: 30%;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow:
            0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
            0px 0px 0px 3px rgb(254, 254, 254),
            0px 5px 3px 3px rgb(210, 210, 210);
    transition: all 0.2s linear;
}